body{
	font-family: 'PT sans', sans-serif;
	background: black;
	margin: 0;
	color: #fff;
	line-height: 1.6;
}
a{
	text-decoration: none;
	color: #ccc;

}
#sga{
	margin: 0;
	padding: 0;
	background: url(wallpaper.jpg) no-repeat center/cover;
	width: 100%;
	height: 100vh; /*viewport-height*/
	position: relative;
	overflow-y: hidden;
}
#sga .container{
	margin-top:25vh ;
}
#sga h1{
    font-size: 4rem; /*root elements font size*/
    margin-bottom: 0;
}
#sga h2{
    font-size: 2rem; /*root elements font size*/
}
nav{
	height:40px ;
	width: 100%;
	background-color: #333 ;
	color: rgb(51, 34, 34);
	position: fixed;
}
nav ul{
	margin: 0;
	padding: 0;

}
nav li{
	display: inline;
	float: left;

}
nav a{
	display: inline-block;
	width: 100px;
	text-align: center;
	text-decoration: none;
	padding: 10px 0;
	color: #eee;

}
nav li:hover{
	background-color:#444 ;
}
.container{
	max-width: 1180px;
	text-align: center;
	margin: 0 auto;
	padding: 0 3rem;
}
footer .footer-cols{
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(4, 1fr);
	padding: 2rem;
	text-align: left;
	font-size:14px ;

}
footer .footer-cols ul{
	list-style: none;
}
footer .footer-cols ul li:first-child{
  font-size: 1.2rem;
  padding-bottom: 0.5rem;
  border-bottom: #444 solid 1px;
  margin-bottom: 1rem;
}
footer .footer-bottom{
	background-color: grey;
	padding: 1 rem;
	text-align: center;
}
/*div { text-align: left; }
ul { display: inline-block; text-align: left; }
*/
footer .footer-bio{
	background-color: #52504F;
	padding: 1rem;
	text-align: left;
}
footer .footer-phy{
	background-color: #8D683C;
	padding: 1rem;
	text-align: left;
}
footer .footer-chem{
	background-color: #5F3403;
	padding: 1rem;
	text-align: left;
}

footer .footer-tech{
	background-color: #226291;
	padding: 1rem;
	text-align: left;
}

footer .footer-world{
	background-color: #08A951;
	padding: 1rem;
	text-align: left;
}
footer .footer-aboutus{
	background-color: #08A951;
	padding: 1rem;
	text-align: right;
	
}